
@{
    ViewData["Title"] = "AcessDenied";
}

<!-- Acesso Negado -->
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <hr />
                        <div class="x_content">
                            <div align="center">
                                <img src="~/assets/img/acess_denied.jpg" alt="Acesso Negado!!" style="width:45%; height:45%" />
                                <div>
                                    <h1>Acesso Negado!!</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>