@using System.Security.Claims;

@{
    ViewData["Title"] = "_NavBarPartial";

    var claimsIdentity = User.Identity as ClaimsIdentity;
    string nome = "";
    string estado = "";
    string cidade = "";
    string tipoUsuario = "";
    string trabalha = "";
    string empresa = "";
    int idUsuario = 0;

    if (claimsIdentity != null)
    {
        idUsuario = int.Parse(claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.SerialNumber).Select(s => s.Value).FirstOrDefault());
        nome = claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.Name).Select(s => s.Value).FirstOrDefault().ToUpper();
        estado = claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.StateOrProvince).Select(s => s.Value).FirstOrDefault().ToUpper();
        cidade = claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.Locality).Select(s => s.Value).FirstOrDefault().ToUpper();
        tipoUsuario = claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.Role).Select(s => s.Value).FirstOrDefault().ToUpper();
        trabalha =  claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.Dns).Select(s => s.Value).FirstOrDefault().ToUpper();
        empresa = claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.Sid).Select(s => s.Value).FirstOrDefault().ToUpper();

        if (tipoUsuario.Equals("AGENTE")) {
            tipoUsuario = "NOTIFICADOR";
        }
        else if (tipoUsuario.Equals("SECRETARIO"))
        {
            tipoUsuario = "ADMINISTRADOR";
        }
        else if(tipoUsuario.Equals("ADM"))
        {
            tipoUsuario = "ADMINISTRADOR DO SISTEMA";
        }
		else if(tipoUsuario.Equals("GESTOR"))
        {
            tipoUsuario = "GESTOR";
        }
    }
}


<!-- Topnav -->
<nav class="navbar bg-gradient-primary">
    <div class="container-fluid">
        <img src="~/assets/img/logo-sus-white.png" class="logo-header">
        <div class="top-user">
            <span>
                <i class="fa fa-user" aria-hidden="true"></i>@nome
            </span>
            <span>
                <i class="fas fa-briefcase"></i>@tipoUsuario
            </span>
            @if (!empresa.Equals("MUNICIPIO OU ESTADO"))
            {
            <span>
                <i class="fas fa-building"></i>@empresa
            </span>
            }
            <span>
                <i class="fas fa-map-marker-alt"></i>@trabalha
            </span>
            <span style="margin-top: 10px; ">
                <a class="btn-logout link" href="@Url.Action("Logout", "Login")"><i class="fas fa-sign-out-alt"></i>SAIR</a>
            </span>
        </div>
    </div>
</nav>
